<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swordhealth.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DOG BREED App"
        android:roundIcon="@drawable/dog_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.swordhealth.app.view.activity.BreedDetailsActivity"/>
        <activity android:name="com.swordhealth.app.view.activity.HomeScreenActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>